@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');

// fixed classes

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

html, body {
  font-size: 16px;
}

.flex-box {
  display: flex;
}

.container {
  margin: 0 auto;
}

// main app view

.main_app {
  width: 1000px;
}

main_view{
    border: 2px solid #00264c;
}

h1 {
  background-color: #7A7A96;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 35px;
  color: #1D2737;
}

.exchange {
  background-color: #cce5ff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
}

.input_fields {
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 10px;
  font-size: 20px;
}

option {
  padding: 5px;
  margin: 10px;
}

.transaction_list {
  list-style: none;
  background-color: #CACABC;
  text-align: center;
}

.transactions {
  background-color: #b5a9b5;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-size: 25px;
}

li {
  font-size: 20px;
  margin-top: 20px;
}

span {
  color: yellow;
  margin-left: 10px;
  margin-right: 10px;
}

.btn {
  border-radius: 10%;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  background-color: #00264c;
  color: white;
  margin-top: 20px;
}




