@import "utils/fonts";
@import "utils/reset";
@import "utils/variables";
@import "utils/flex";
@import "components/header";
@import "components/converter";
@import "components/transactions";
@import "components/all_transactions";

// fixed classes

html, body {
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
}

// main app view

#main {
  border: 2px $borderColor solid;
  width: 1000px;
  background-image: url("../images/17454.jpg");
  background-repeat: repeat-y;
  background-size: 1000px;
}

hr {
  width: 80%;
  background-color: $btnHover;
}











