@import "utils/fonts";
@import "utils/reset";
@import "utils/variables";
@import "utils/flex";

@import "components/header";
@import "components/converter";
@import "components/transactions";
@import "components/all_transactions";

// fixed classes

html, body {
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
}


// main app view

#main{
  border: 2px black solid;
  width: 1000px;
}


main_view{
    border: 2px solid #00264c;
}









