
// all transactions (list)

.all_transactions{
  background-color: $transactionsBackground;
  padding-top: 20px;
}

.list_element{
  background-color: #f3e5dd;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover{
    background-color: $hoverDiv;
  }
}

.btn_remove {
  width: 35px;
  background-color: $headerBackground;
  border-radius: 50%;
  color: $transactionsList;

  //&:hover{
  //  background-color: $headerBackground;
  //}
}