//section

.exchange {
  //background-color:$exchangeBackground;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  letter-spacing: 2px;
}

//input fields

.input_fields {
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 10px;
  font-size: 20px;
  border-radius: 25px;
}

//dropdown box

option {
  padding: 5px;
  margin: 10px;
}

//button

.btn {
  border-radius: 25px;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  background-color: $btnBackground;
  color: $textColor;
  margin-top: 25px;
  border-color: $textColor;
  margin-left: 50px;

  &:hover {
    background-color: $btnHover;
  }
}

//dropdown box

select {
  width: 70px;
  height: 40px;
  padding-left: 10px;
  color: $headerText;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 25px;
  outline: none;
}

//inputs

input {
  outline: none;
}


#input1 {
  margin-right: 210px;
  &:hover {
    background-color: $inputHover;
  }
}

#input2 {
  &:hover {
    background-color: $inputHover;
  }
}

#input3 {

}

#label2 {
  margin-left: 45px;
}

#label3 {
  margin-left: 80px;
}

label {
  color: $textColor;
  font-weight: bold;
  font-size: 30px;
}
