$headerText: #1D2737;
$converterBackground: #c9c9d5;
$btnBackground: #00264c;
$headerBackground: #7A7A96;
$transactionsBackground: #a298a2;
$transactionsList: #253048;
$hoverList: #7c8291;
$hoverDiv: #d0cbd0;
$borderColor: #3C4E75;
$exchangeBackground: whitesmoke;
$textColor: white;
$warning: #FF1919;
$btnHover: #3A9DEF;
$inputHover: #c3e1fa;