$headerText: #1D2737;
$converterBackground: #cce5ff;
$btnBackground: #00264c;
$headerBackground: #7A7A96;
$transactionsBackground: #a298a2;
$transactionsList: #CACABC;
$hoverList: #d9d9d0;
$hoverDiv: #d0cbd0;